In [2]:
#metachar refere the to build the re exps
# . stands for any one charcter
#[...] the square brackets used to build a charecter class

In [102]:
import re
data=['aaa','sss','ffff','123bg6','a555b','a55555n','a555555bavc','abc','a5c','3+2=5']

In [42]:
for i in data:
    m=re.match(r'a.c',i)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

abc matched in 'abc'
a5c matched in 'a5c'

In [58]:
for i in data:
    m=re.match(r'a*',i) # match must be in the strtaing of the string 
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

aaa matched in 'aaa'
 matched in 'sss'
 matched in 'ffff'
 matched in '123bg6'
a matched in 'a555b'
a matched in 'a55555n'
a matched in 'a555555bavc'
a matched in 'abc'
a matched in 'a5c'

In [56]:
for i in data:
    m=re.search(r'a.c',i) # search will find anywhere in teh string 
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

avc matched in 'a555555bavc'
abc matched in 'abc'
a5c matched in 'a5c'

In [62]:
 for i in data:
    m=re.match(r'a..',i) # match must be in the strtaing of the string 
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

aaa matched in 'aaa'
a55 matched in 'a555b'
a55 matched in 'a55555n'
a55 matched in 'a555555bavc'
abc matched in 'abc'
a5c matched in 'a5c'

In [72]:
#talk about []
#nay three start with a followed ant one char and in one from the []
for i in data:
    m=re.match(r'a.[a-z]',i) # match must be in the strtaing of the string ( this find startig with a and any one char and ends with a-z small apha
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

aaa matched in 'aaa'
abc matched in 'abc'
a5c matched in 'a5c'

In [86]:
#talk about []
#nay three start with a followed ant one char and in one from the []
for i in data:
    m=re.match(r'a[0-9]',i) # match must be in the strtaing of the string ( this find startig with a and any one char and ends with 0-9 sdigit
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

a5 matched in 'a555b'
a5 matched in 'a55555n'
a5 matched in 'a555555bavc'
a5 matched in 'a5c'

In [90]:
#talk about []
#nay three start with a followed ant one char and in one from the []
for i in data:
    m=re.match(r'a[0-9][a-z]',i) # match must be in the strtaing of the string ( this find startig with a and any one char and ends with 0-9 sdigit
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

a5c matched in 'a5c'

In [100]:
#talk about []
#nay three start with a followed ant one char and in one from the []
for i in data:
    m=re.match(r'a[^0-9][a-z]',i) # match must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

aaa matched in 'aaa'
abc matched in 'abc'

In [112]:
#match the 3+2
for i in data:
    m=re.match(r'[0-9]\+[0-9]',i) # match must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

3+2 matched in '3+2=5'

In [116]:
#match the 3+2 or  'a' not digit and alpha char
for i in data:
    m=re.match(r'[0-9]\+[0-9]|a[^0-9][a-z]',i) # match must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

aaa matched in 'aaa'
abc matched in 'abc'
3+2 matched in '3+2=5'

In [118]:
#default character
#\d digit
#\w ( all digit all apha both small and big)

In [122]:
#metachar 2.o

In [138]:
#match the 3+2 or  'a' not digit and alpha char
for i in data:
    m=re.match(r'\d\+\d|a[^\d][a-z]',i) # match must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

aaa matched in 'aaa'
abc matched in 'abc'
3+2 matched in '3+2=5'

In [142]:
# ^ apply at the beginning
# $ at the ens of the line
#\b

In [146]:
#match the 3+2 or  'a' not digit and alpha char
for i in data:
    m=re.match(r'^a',i) # match must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

a matched in 'aaa'
a matched in 'a555b'
a matched in 'a55555n'
a matched in 'a555555bavc'
a matched in 'abc'
a matched in 'a5c'

In [190]:
#used search for the ending 
for i in data:
    m=re.search(r'..c$',i) # search must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

avc matched in 'a555555bavc'
abc matched in 'abc'
a5c matched in 'a5c'

In [192]:
#metadata 4.o quantifiers
# * for zero or more char for previous char 
# + repaeacting previos char 1 or more
# ? the previous char apper only one or zero
# {n}  previous char apper exactly n times
# {m,n} the previous apper exactly b/w m,n
#{ m, } {, n} the previous apper exatly m or more then m , max of n time 
#{..} use for alteraion

In [196]:
# * implimented
for i in data:
    m=re.search(r'a*',i) # search must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

aaa matched in 'aaa'
 matched in 'sss'
 matched in 'ffff'
 matched in '123bg6'
a matched in 'a555b'
a matched in 'a55555n'
a matched in 'a555555bavc'
a matched in 'abc'
a matched in 'a5c'
 matched in '3+2=5'

In [202]:
# + implimented
for i in data:
    m=re.search(r'a55+',i) # search must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

a555 matched in 'a555b'
a55555 matched in 'a55555n'
a555555 matched in 'a555555bavc'

In [216]:
#?
for i in data:
    m=re.search(r'a5{2,4}b',i) # search must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

a555b matched in 'a555b'

In [234]:
for i in data:
    m=re.search(r'a5{2, }[a-z]',i) # search must be in the strtaing of the string ( starts witha and not digit from 0-9 and ens with a-z alpha)
    if m:
        print(m.group() +' matched in ' + '\'' +i +'\'')

In [236]:
#example

In [238]:
text=" This statement 3.1245 contains 66.564 floating point number"

In [244]:
p=r"\d+\.\d+"

In [248]:
re.findall(p,text)

['3.1245', '66.564']

In [252]:
text="+918987654567,another 9098765646, yet 09876543456"

In [256]:
pp=r"\d{10}"

In [260]:
re.findall(pp,text)

['9189876545', '9098765646', '0987654345']

In [282]:
pp1=r"[(+91)(0)]?\d{10}"

In [284]:
re.findall(pp1,text)

['+9189876545', '9098765646', '09876543456']