In [1]:
#sqllite DB connection
#shelve 
#pickle

In [5]:
#sqllite3 module

In [7]:
import sqlite3

In [9]:
#connect to the database
conn=sqlite3.connect('employee.db')
cursor=conn.cursor()

In [13]:
#create the table
cursor.execute('''create table emp (id integer primary key autoincrement,name text not null,deparment text not null,salary real not null,join_date text)''')

OperationalError: table emp already exists

In [21]:
cursor.execute(''' insert into emp(name,deparment,salary,join_date) values("prathap","python","10000","2025-03-12") ''')

In [25]:
cursor.execute(''' select * from emp''')
cursor.fetchall()

[(1, 'prathap', 'python', 10000.0, '2025-03-12')]

In [35]:
cursor.execute(''' insert into emp(name,deparment,salary,join_date) values ("ibrhim","python","10000","2025-04-12")''')

In [37]:
cursor.execute(''' insert into emp(name,deparment,salary,join_date) values ("kiran","python","10000","2025-04-12")''')

In [45]:
cursor.execute(''' select * from emp''')
cursor.fetchall()

[(1, 'prathap', 'python', 10000.0, '2025-03-12'),
 (2, 'ibrhim', 'python', 10000.0, '2025-04-12'),
 (3, 'kiran', 'python', 10000.0, '2025-04-12'),
 (4, 'kiran', 'python', 1000.0, '2025-04-12')]

In [43]:
cursor.execute(''' insert into emp(name,deparment,salary,join_date) values ("kiran","python","1000","2025-04-12")''')

In [49]:
cursor.execute("select name,salary from emp where salary <?",(6000,))
for row in cursor.fetchall():
    print(row)
print()

('kiran', 1000.0)

In [53]:
cursor.execute("update emp set salary =?",(600000,))

In [55]:
cursor.execute(''' select * from emp''')
cursor.fetchall()

[(1, 'prathap', 'python', 600000.0, '2025-03-12'),
 (2, 'ibrhim', 'python', 600000.0, '2025-04-12'),
 (3, 'kiran', 'python', 600000.0, '2025-04-12'),
 (4, 'kiran', 'python', 600000.0, '2025-04-12')]

In [59]:
#to close the connect 
conn.commit()

In [63]:
conn.close()

In [65]:
cursor.execute(''' select * from emp''')
cursor.fetchall()

ProgrammingError: Cannot operate on a closed database.

In [67]:
#pickle obj serialzationthe

In [69]:
#create a student class with following attribute
#define a usersession class with the

In [73]:
import pickle
from datetime import datetime

In [81]:
class usersession:
    def __init__(self,username,last_login_time,preferences):
        self.username=username
        self.last_login_time=last_login_time
        self.preferences=preferences
    def __repr__(self):
        return(f"usersession(uusername='{self.username}',laslast_login_time={self.last_login_time},self.ppreferences={self.preferences})")

In [83]:
s1=usersession("prathap",datetime.now(),{'heme':'dark','language':'tamil'})

In [85]:
s1

usersession(uusername='prathap',laslast_login_time=2025-04-09 12:58:10.444552,self.ppreferences={'heme': 'dark', 'language': 'tamil'})

In [89]:
s2=usersession("ibrahim",datetime.now(),{'heme':'dark','language':'hindi'})

In [91]:
s2

usersession(uusername='ibrahim',laslast_login_time=2025-04-09 12:58:43.073135,self.ppreferences={'heme': 'dark', 'language': 'hindi'})

In [95]:
ses=[s1,s2]

In [97]:
with open("ses.pkl",'wb')as f:
    pickle.dump(ses,f)

In [99]:
#how to restore the obj

In [109]:
try:
    with open ("ses.pkl",'rb') as f:
        load=pickle.load(f)
    for sess in load:
        print(sess)
except Exception as e:
    print(f"Exception {e}")

usersession(uusername='prathap',laslast_login_time=2025-04-09 12:58:10.444552,self.ppreferences={'heme': 'dark', 'language': 'tamil'})
usersession(uusername='ibrahim',laslast_login_time=2025-04-09 12:58:43.073135,self.ppreferences={'heme': 'dark', 'language': 'hindi'})